.img-container{
    display:flex;
    justify-content: start;
    align-items: center;
    .left-img{
        background-image: url("./pic03.jpg");
        background-size: cover;
        width:50%;
        background-size: cover;
        padding:20px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        
        i{
            color:whitesmoke;
            background-color: #6eb792;
            margin-top :3rem;
            
        }
        p{
            font-size: 2rem;
            font-weight: 100;
            letter-spacing: 2px;
            color:whitesmoke;
            margin : 20px 0;
            padding-left: 20px;
        }
        h4{
            color:#6eb792;

        }
        h5{
            color :white;
            margin-bottom:4rem;
        }
    }
    .right-img{
        background-image: url("./pic04.jpg");
        width:50%;
        background-size: cover;
        padding:20px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        
        i{
            color:whitesmoke;
            background-color: #6eb792;
            margin-top :3rem;
            
        }
        p{
            font-size: 2rem;
            font-weight: 100;
            letter-spacing: 2px;
            color:whitesmoke;
            margin : 20px 0;
            padding-left: 20px;
        }
        h4{
            color:#6eb792;

        }
        h5{
            color :white;
            margin-bottom:4rem;
        }
    }
}