.pages{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    padding:20px;
    .button{
        display:flex;
        justify-content: flex-start;
        margin:20px;
        
        a{
            text-decoration: none;
            color:black;
            border: 1px solid black;
            padding:10px;
        }
    }
    .section-4{
        display:flex;
        justify-content: space-evenly;

        .left-side{
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            width:40%;
            h3{
                font-size: 2rem;
                font-weight: 100;
                letter-spacing: 2px;
            }
            p{
                font-size:1rem;
                font-weight: 300;
                line-height: 2;
            }
            a{
                text-decoration: none;
                padding:10px;
                
                border : 1px solid grey;
            }
        }
        .right-side{
            opacity: 0.8;
        }
    }
    
}